footer {
    width: 100%;
    height: 20vh;
    background-color: #001123;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footerTitle {
    font-weight: bold;
    font-size: 25px;
    font-family: ubuntuMedium;
    padding-bottom: 10px;
}
@media (max-width: 450px) {
    .footerTitle {
        font-size: 20px;
    }
}